.product-crud-bar-container {
    max-width: 1200px;
}

.product-card-form-card {
    width: 100%;
    padding: 20px;
}

.product-card-form-card-title {
    font-size: 22px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-bottom: 30px;
}

.margin-botton-30 {
    margin-bottom: 30px;
}

.product-card-inputs-container {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.015em;
    margin-bottom: 30px;
}

.product-card-inputs-left-container {
    margin-bottom: 30px;
}

.product-crud-buttons-container {
    display: flex;
    justify-content: space-between;
}

.product-crud-buttons-container button:first-child {
    margin-right: 5px;
}

.product-crud-buttons-container button:last-child {
    margin-left: 5px;
}

.product-crud-button {
    width: 100%;
    height: 50px;
    border-radius: 10px !important;
    font-weight: 700 !important;
}

@media (min-width: 576px) {
    .product-crud-buttons-container {
        justify-content: flex-end;
    }

    .product-crud-button {
        width: 270px;
    }

    .product-crud-buttons-container button:first-child {
        margin-right: 15px;
    }

    .product-crud-buttons-container button:last-child {
        margin-left: 15px;
    }
}

@media (min-width: 992px) {


    .product-card-form-card-title {
        font-size: 24px;
    }

    .product-card-inputs-container {
        font-size: 18px;
    }

    .product-card-inputs-left-container {
        margin-bottom: 0;
    }
}
