// Aquivo para configurar os estilos do bootstrap
// Por padrão no diretório src/core/assets/styles
$theme-colors: (// variavel do sass;
    "primary": #407BFF, // primary do bootstrap;
    "secondary": #E1E1E1
);

$body-bg: #F2F2F2; // cor para o background;
$body-color: #263238; // cor do texto do projeto;

@import '~bootstrap/scss/bootstrap.scss';